body {
  margin: 0;
  font-family: "regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "regular";
  src: url("../src/Fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../src/Fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "semiBold";
  src: url("../src/Fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../src/Fonts/OpenSans-Bold.ttf");
}
